fastapi
uvicorn
pydantic
python-dotenv
requests
groq
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
tiktoken
openai
pandas
numpy
python-dateutil
orjson
httpx
aiohttp
pydantic-settings
typing-extensions
